---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";

// const user = Astro.locals.user;
// if (user) {
//   return Astro.redirect("/feed");
// }
---

<Layout title="favicon.land fatal server error">
    <h1>500</h1>
    <p>
        Something went wrong in a way favicon.land fundamentally could not
        recover from
    </p>
    <p>Please try again later or contact support if the problem persists</p>
</Layout>

<style></style>
