---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";

const user = Astro.locals.user;
// if (user) {
//     return Astro.redirect("/feed");
// }
---

<Layout title="favicon.land">
    <h1>loading user {user.e.e}</h1>
</Layout>

<style></style>
