---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";

// const user = Astro.locals.user;
// if (user) {
//   return Astro.redirect("/feed");
// }
---

<Layout title="favicon.land | new icon">
    <!-- <h1>todo: create entire site</h1> -->
    <h1>new icon</h1>
</Layout>

<style></style>
