---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";

// const user = Astro.locals.user;
// if (user) {
//   return Astro.redirect("/feed");
// }
---

<Layout title="favicon.land">
	<h1>todo: create entire site</h1>
	<h2>recent icons</h2>
	<h2>popular icons</h2>
	<h2>occult theme</h2>
	<h2>animated</h2>
	<h2>angry</h2>
	<h2>happy</h2>
	<h2>meme</h2>
</Layout>

<style></style>
